<div class="container">
    <br>
    <h1> utilisateurs </h1>
    <br>
    {% include 'layouts/_flash_message.html.twig' %}
    <table class="table">
        <tr>
            <th>id</th>
            <th>email</th>
            <th>nom</th>
            <th>prénom</th>
            <th>roles</th>
            <th>actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>
                {% if ("ROLE_ADMIN" in user.roles) %}
                    <span class="text-primary">administrateur</span>
                {% elseif ("ROLE_EDITOR".in user.roles)%}
                    <span class="text-success">editeur</span>
                {% else %}
                    <span class="text-secondary">client</span>
                {% endif %}
                {#Rajouter #}
                {% if ("ROLE_ADMIN" in user.roles)== false %}
                    {% if ("ROLE_EDITOR" in user.roles)== false %}
                        <a onclinck="return confirm('Voulez-vous vraiment effacer le role éditeur à l\'utlisateur ?')" class= "btn btn-outline-primary"
                        href="{{path ('app_user_add_editor_role',{'id':user.id}) }}">Ajouter le role Editeur</a>
                    {% else %}
                        <a onclinck="return confirm('Voulez-vous vraiment retire le role éditeur à l\'utlisateur ?')" class= "btn btn btn-danger"
                        href="{{path ('app_user_editor_role',{'id':user.id}) }}">Retire le role Editeur</a>
                    {% endif %}
                {% endif %}
                <a onclinck="return confirm('Voulez-vous vraiment supprimer cet utilisateur?')" class= "btn btn-danger"
                href="{{ path ('app_user_delete',{'id':user.id}) }}"> Supprimer </a>
            </td>
        </tr>
        {% else %}
        <p> Aucun utilisateur à afficher</p>
        {% endfor %}
    </table>
   
 
</div>
 
{% endblock %}